version: '3.8'

services:
  microsservico-produtos:
    build:
      context: ./microsservico-produtos
    container_name: teste-microsservico-produtos-1
    ports:
      - "3000:3000"
    networks:
      - vinheria-network

  microsservico-pedidos:
    build:
      context: ./microsservico-pedidos
    container_name: teste-microsservico-pedidos-1
    ports:
      - "3001:3000"
    environment:
      - PRODUTOS_MS_URL=http://microsservico-produtos:3000
    networks:
      - vinheria-network
    depends_on:
      - microsservico-produtos

networks:
  vinheria-network:
    driver: bridge