# docker-compose.yml (salve este arquivo na raiz do seu projeto)
version: '3.8'
services:
  produtos-ms:
    build: ./microsservico-produtos
    image: vinheria-agnello/produtos:latest
    container_name: sprint07-produtos-ms-1
    ports:
      - "8091:8080" # ⚠️ ALTERADO: Nova porta externa para o microsserviço de produtos
    networks:
      - vinheria-rede

  pedidos-ms:
    build: ./microsservico-pedidos
    image: vinheria-agnello/pedidos:latest
    container_name: sprint07-pedidos-ms-1
    ports:
      - "8081:8081"
    environment:
      - PRODUTOS_API_URL=http://produtos-ms:8080
    depends_on:
      - produtos-ms
    networks:
      - vinheria-rede

networks:
  vinheria-rede:
    driver: bridge